.container{
    margin: 0;
    background-color: rgba(40, 45, 53, 1);
    color: rgba(255, 255, 255, 1);
    height: 100vh;
    background-image: url(./logo.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.list{
    padding-left: 30px;
    margin-top: 46px;
    max-width: 400px;
    /*list-style: none;*/
}
.h1{
    padding-left: 30px;
    margin: 0px;
    font-size: 39px;
    letter-spacing: -0.05em;

}
.list > li{
    line-height: 19px;
    padding-block: 10px;
}
/*.list > li::before{
    content: "\2022";
    color: rgba(0, 216, 255, 1);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 6rem;
}*/

.list > li::marker{
    font-size: 1.4rem;
    color: rgba(0, 216, 255, 1);;
}