.container{
    font-size: 60px;
    background-color: rgba(40, 45, 53, 1);
    color: rgba(255, 255, 255, 1);
    height: 100vh;
}
.list{
    margin-left: 120px;
    list-style: none;
}
.h1{
    margin: 20px;
}
.list > li{
    padding: 10px;
}
.list > li::before{
    content: "\2022";
    color: rgba(0, 216, 255, 1);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}