*{
    box-sizing: border-box;
}
.h3, .h4{
    margin: 0;
}
.h3{
    margin-right: auto;
    font-size: 22px;
    color: rgba(0, 216, 255, 1);
}
h4{
    color: rgba(222, 235, 248, 1);
}
.app-logo{
    height: 30px;
    margin-right: 7px;
}
.nav{
    display: flex;
    align-items: center;
    background-color: rgba(33, 34, 42, 1);
    height: 90px;
    padding: 30px 25px;
}

